body {
    width:100vw
}
#body{
    background-color:rgb(126,130,132);
    color : white;
}
.texta{
    color : white;
    background-color:rgb(118,181,197,0.6);
    outline:0;
}
@media (max-width:500px){
    .parenttexta {
        width: 75vw;
    }
    .parentbtns {
        display: flex;
        flex-direction:row;
    }
    .input{
        width: 60vw;
    }
}
@media (min-width:500px){
    .parenttexta {
        width: 50vw;
    }
    .parentbtns {
        display: flex;
        flex-direction: row;
    }
    .input{
        width: 30vw;
    }
}